h5 {
  color: #333;
}

.vertical-divider {
  border-left: 1px solid #999;
  height: 350px;
  margin: 20px;
}

.radio-btn {
  margin-left: 20px;
}

Button.form-btn{
    background-color:#133D7A;
    padding:10px 40px;
}
